body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin:0%

}

#hero {
  width: 626px;
  margin: 66px auto 62px;
}

#hero img {
  margin-bottom: 32px;
}


h1 {
  font-family: 'Dosis', sans-serif;
  color: #3F3D56;
  font-size: 32px;
  line-height: 40px;
  font-weight: normal;
  margin-bottom: 16px;

}

p {
  font-family: 'Open Sans', sans-serif;
  color: #828282;
  font-size: 15px;
  line-height: 22px;
}

a {
  font-family: 'Open Sans', sans-serif;
  color:#3F3D56
  
}

a {
  text-decoration: none;
}


h1 span {
  color: #EE24FF;
  font-weight: bold;
}

 span2 {
  color:#3F3D56;
} 

#footer {
  font-size: 15px;
  font-weight: 22.15px;
  font-family: 'Open Sans', sans-serif;

}

#footer a + a {

  margin-left: 44px;
  margin-bottom: 10px;
}

#line {
 width: 391px;

 margin: 0 auto 16px;

 border: 1px solid #ECEFF2;
}

.wave {
  
  position: absolute;
  bottom: 0;
  width: 100%;

 
  

 
}







 
